<div class="container-form">
  <div class="top-max-wrap">
    <h1>Edit Ink</h1>

    <%= render 'form', ink: @ink %>

    <!-- <= link_to 'Show', @ink %> | -->
    <!-- <= link_to 'Back', inks_path %> -->
  </div>
</div>