<div class="container-inks">
  <div class="top-games-wrap">
    <h1>Users page</h1>
    <%= link_to 'Inks', inks_path %>
    <div class="logout">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-6">
          <% if current_user.try(:type) == 'SuperUser'%>
            <button type="button" class="btn btn-danger btn-md custom-class">
              <%= link_to admin_root_path do %>
                  <i class="glyphicon glyphicon-wrench"></i> Admin
              <% end %>
            </button>
          <% end %>
        </div>  
      </div>
    </div>
    <br><br>
    <div class="table-wrap" id="filterrific_results">
      <table class="table table-striped table-hover ">
        <thead>
          <tr class="sortable-table">
            <th class="hidden-sm hidden-xs">
              Id
            </th>
            <th>
              User Name
            </th>
            <th class="hidden-sm hidden-xs">
              Email
            </th>
            <th class="hidden-sm hidden-xs">
              Type
            </th>
            <th class="hidden-sm hidden-xs">
              Title
            </th>
            <th class="hidden-sm hidden-xs">
              Customer Name
            </th>
            <th class="hidden-sm hidden-xs">
              Customer Id
            </th>
            <th class="hidden-sm hidden-xs">
              Created
            </th>
            <!-- < if  current_user.try(:type) == 'SuperUser'%> -->
              <!-- <th>
                <span class="glyphicon glyphicon-pencil"></span>
              </th> -->
            <!-- < end %> -->
            <% if current_user.try(:type) == 'SuperUser'%>
              <th>
                <span class="glyphicon glyphicon-trash"></span>
              </th>
            <% end %>
          </tr>
        </thead>
      
        <tbody>
          <%= render "users/user" %> 
        </tbody>
      </table>
    
  </div>
</div>