
<div class="container-fluid">
  <div class="top-max-wrap">
    <h2>New User</h2>

    <%= render :template => "devise/registrations/new",:locals => { 
                      :resource => current_user, 
                      :resource_name => :user } %>
                    

    <%= link_to 'Back', users_path %>

  </div>
</div>