// Place all the styles related to the inks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-inks {
  background: #fff;
  padding: 20px;
  margin-top: -30px;

}
.table-responsive {
  overflow-x: auto;
}
/*table th {
    position:sticky;
    top:0;
    z-index:1;
    border-top:0;
    background: #ededed;
}*/
table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  z-index: 10;
  /*background: white;*/
  background: #ededed;
}
table td { 
  border: 1px #000 solid;
 }
 /*.table-striped > tbody > tr:nth-child(2n+2) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #fff;
 }*/
 /*.table-striped > tbody > tr:nth-child(2n+2) > td, .table-striped > tbody > tr:nth-child(2n+2) > th:hover {
    background-color: #F5F5F5;
 }*/
span .glyphicon-pencil {
  z-index: 1;
}

#myBtn, #myBtn2 {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
.filter_button {
  margin-top: 6px;
}
.logout {
  float: right;
}
.logout a{
  color: #fff;
}
.user-name-right p{
  float: right;
  
}
.new-ink a{
  color: #fff;
}
.new-ink {
  float: left;
}
.well-ink {
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 40px; 
  height: 100vh;
}
.show-title {
  font-size: 1.3em;
  font-weight: 550;

}
/* ***********************************************
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.check-box-line label{
  /*border: 1px solid red;*/
}
#show-check-box,
#check-box {
  display:inline-block;
    vertical-align:middle;
}
.chec-form {
  border: 1px solid red;
}


/* ***********************************************
/* The switch 

/* ----------  @media only screen  --------------- */
/* ----------  -----------------  --------------- */
/* ----------  -----------------  --------------- */
/* ----------  -----------------  --------------- */

@media only screen and (max-width: 767px) {

  .container-inks {
    padding-top: 1px;

  }
  .top-games-wrap h1{
    font-size: 1.6em;
  }
  .custom-class { 
    width: 100%; 
    margin-bottom: 10px;
  }
  .well-ink {
    padding: 20px; 
  }
  .filter_button{
    width: 100%; 
    display:block;
  }
  .form-inputs label {
    min-width: 100% !important;
  }
  .logout {
    float: none;
  }
  .top-max-wrap {
    font-size: 1.2em;
  }
  
  
}
/* ----------  -----------------  --------------- */
/* ----------  -----------------  --------------- */
/* ----------  -----------------  --------------- */
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  .hide-element {
    display: none;
  }
}

@media only screen and (min-width: 980px) and (max-width: 1200px) {
  .hide-element {
    display: none;
  }
}

